@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Bitter:wght@300&display=swap');

.Headers{
    width: 100%;
    height: auto;
    padding: 10px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 20px;
    /* background-color: aqua; */
}

.Head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CourseName{
    width: 20%;
    text-align: center;
    display: grid;
    place-items: center;
    margin-bottom: 0;
    font-size: 2rem;
    font-family: 'Bagel Fat One', cursive;
    font-weight: 100;
}

.ulLis{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
.ulLis li{
    font-size: 1rem;
    font-family: 'Bitter', serif;
    text-decoration: none;
    height: auto;
}
.goog{
    width: 20%;
}